.contact-form {
    background-color: var( --Secondary-color);
}

.contact-heading {
    color: #c22b4c;
}

.contact-btn {
    background-color: #c22b4c;
    color: #fff;
}

.contact-btn:hover {
    background-color: #a02441;
}